[bumpversion]
current_version = 0.0.2
commit = True
tag = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:./docs/source/conf.py]
search = version = "{current_version}"
replace = version = "{new_version}"
